.register-page { 
    margin: 50px 0;

    .profile-photo {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .profile-photo img {
        width: 100px;
        border-radius: 50%;
    }

}
